
.Model-container{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bgColorClass-black{
    background-color: black;
  }
  .bgColorClass-white{
    background-color: rgb(159, 156, 156);
  }
  .bgColorClass-blue{
    background-color: #140f14f0;
  }
  .active-btn{
    background-color: #08ff7b;
    border: #08ff7b 0.1rem solid;
    border-radius: 2rem;
    padding: 0rem 0.5rem;
  }
  .Model-container .viewer{
    width: 70%;
    height: 100%;
    position: relative;
    flex-grow: 1; 
    cursor: pointer;
  }
  
  .Model-container .right__modal{
    width: 30%;
    height: 100%;
    animation:  slideIn 0.5s ease-in-out;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
    
  }

   .viewer .top-left,.viewer .top-right {
    width: auto;
    height: auto;
    padding: 0.8rem;
    background: #0d0d1af3;
    z-index: 11;
    position: absolute;
    top:1.5rem;
    left: 1.5rem;
    border-radius: 1rem;
    border: 0.05rem solid #cecdcdb8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(223, 224, 226);
    font-size: 2rem;
    z-index: 111;
    cursor: pointer;

  }
  .viewer .top-right{
    right:1.5rem;
    left: auto;
    padding: 0.3rem 0.5rem;
  }
  .viewer .bottom-right {
    position: absolute;  
    bottom: 1.5rem;     
    right: 1.5rem;      
    padding: 0.3rem 0.5rem;
    z-index: 111;
    display: flex;
    gap: 0.7rem;
}

 
  
  @media (max-width: 550px) {
    .Model-container{
      flex-direction: column;
       height: 100%;
       /* overflow-y: hidden; */
    }
    .Model-container .viewer{
      width: 100%;
      height: 100vh;
    }
    .Model-container .right__modal{
      width: 100%;
      height: auto;
  
    }
    .viewer .top-left{
      top:1rem;
      left: 0.5rem;
      background: #130c0cce;
      border: none;
    }
    .viewer .top-right{
      top:1rem;
      right: 1rem;
      background: #130c0c;
      border: none;
      padding: 0.5rem 0.74rem;
    }
    
  }
  
  