@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.search-container {
  width: 25.6rem;
  display: flex;
  align-items: center;
  border: 0.1rem #ffffff5f solid;
  border-radius: 0.5rem;
  padding-left: 1rem;
  backdrop-filter: blur(8px);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #212122b0;
}

.search-container:focus-within {
  border: 0.08rem #838389d0 solid;
}

.search-container-box {
  width: 100%;
  border: none;
  font-family: "Lexend";
  font-size: 01rem;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background-color: #212122b0;
  backdrop-filter: blur(8px);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input.middle:focus {
  outline: 0;
}

input.middle:valid {
  font-family: "Lexend";
  color: rgb(189, 189, 194);
}
.search__icon{
  color: #ffffff9c;
  font-size: 1.5rem;
  font-weight: 800;
}
