.App{
    /* background-image:linear-gradient(180deg, #010d10cf 0%, rgba(9, 9, 9, 0.724) 100%), url(file:///Users/nigupta/Downloads/bullseye-gradient.svg);
    background-size: cover; */
    /* --foreground-rgb: 255, 255, 255;
     color: rgb(var(--foreground-rgb));
     background-image:linear-gradient(180deg, #08030354 0%, rgb(9, 9, 9) 100%), url(file:///Users/nigupta/Downloads/bullseye-gradient.svg);
    background-size: cover;
    background-repeat: no-repeat; */

}